body{
    margin: 0;
    padding: 0px;
}
.logo{
    margin-left:50px ;
    margin-top: 0;
    width: 400px;
    height: 70px;
    cursor: pointer;
    border-radius: 5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul{
    width: 100%;
    text-align: right;
    padding-right: 10px;
}
nav ul li{
    display: inline-block;
    margin: 8px 20px;
    color:white;
    cursor: pointer;
}

nav ul li a{
    color: white;
    text-decoration: none;
}


.header{
    padding: 50;
    border-color: black;
    background-color:orangered;
}

.cartButton{
    width: 70px;
    text-align: center;
    padding: 5px 5px;
    margin-right: 10px;
    border-radius: 5px;
    background: blueviolet;
    border-color:black;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.login{
    width: 70px;
    text-align: center;
    margin-left: 50px;
    padding: 5px 5px;
    margin-right: 10px;
    border-radius: 5px;
    background: rgb(18, 8, 157);
    border-color:black;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

